# This file is part of IPAM Web.
#
# Copyright (c) Alexander Haase <ahaase@alexhaase.de>
#
# This project is licensed under the MIT License. For the full copyright and
# license information, please view the LICENSE file that was distributed with
# this source code.

root = true

[*]
charset = utf-8
indent_style = space
indent_size  = 2
end_of_line  = lf
insert_final_newline = true
trim_trailing_whitespace = true
